<div class="jumbotron">
    <h2>Admin Panel  <i class="fa fa-plus" style="float: right" (click)="addNewProduct()"></i> </h2>
    <br/>
    <div class="alert alert-danger" role="alert" *ngIf='this.errMsg'>
        {{ this.errMsg }}
    </div>
    <div class="alert alert-success" role="alert" *ngIf='this.succMsg'>
        {{ this.succMsg }}
    </div>
    <form [formGroup]="updateShopForm" (ngSubmit)=" saveChanges() ">
        <div class="form-group">
          <label class="col-form-label">Product Name</label>
          <input type="text" placeholder="Product Name" class="form-control" formControlName="name"/>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4" *ngIf="updateOrSave">
            <label class="col-form-label">Product Id</label>
            <input type="text" placeholder="Product ID" class="form-control"  formControlName="id" (blur)="checkAvailability()"/>
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label">Catagory Id</label>
            <input type="text" placeholder="Catagory" class="form-control" formControlName="catagoryId" />
          </div>
          <div class="form-group col-md-4">
            <label class="col-form-label">Price </label>
              <input type="number" placeholder="Price" class="form-control" formControlName="price"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Img Url</label>
            <input type="text" placeholder="Image Url " class="form-control" formControlName="imgUrl"/>
        </div>

        <button class="btn btn-danger" > Save </button>
    </form>
</div>
